@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth;
}

/* z-index works only when the position is used */

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	padding: 20px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;	
}

header .logo{
	font-size: 28px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}

header ul{
	position: relative;
	display: flex;
}

header ul li{
	position: relative;
	list-style: none;
}

header ul li a{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: white;
	text-decoration: none;
}

section{
	padding: 100px;
}

.banner{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*margin: 0;*/
	/*padding: 0;*/
}

.banner h2{
	font-size: 2em;
	color: black;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 2px;
}

.banner h3{
	font-size: 1em;
	color: black;
	font-weight: 500;
}

.btn{
	position: relative;
	background: /*#2196f3*/ black;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}

.banner .image{
	/*background: url(images/coding.png);*/
	width: 100%;
	background-size: cover;
	background-position: center;
}

.banner .image img{
	width: 100%;
	background-size: cover;
	background-position: center;
}
.about{
	position: relative;
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
}

.about .matter{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}

.heading{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.text{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

.about .human{
	background: url(images/Mine.jpg);
	width: 50%;
	background-size: cover;
	background-position: center;
}

.services{
	background: #12222d;
	padding: 100px;
	text-align: center;
}

.services .container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;
}

.services .container .offers{
	position: relative;
	background: #fff;
	width: 350px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services .container .offers img{
	max-width: 200px;
}

.services .container .offers h2{
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
}

.tech{
	background: #3f8ffc;
	width: 100%;
	padding: 100px;
	padding-top: 300px;
	margin-top: -300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tech .matter{
	max-width: 800px;
}

.tech .imgBx{
	max-width: 250px;
}

.tech .imgBx img{
	max-width: 100%;
}

.contact{
	padding: 100px;
	background: #162c3b;
	text-align: center;
}


.footer{
	background: #ffffff;
	padding: 20px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.owner{
	color: black;
	font-weight: 500;
}


.social-icons{
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}

.social-icons a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #ffffff;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	text-decoration: none;
}

.social-icons i{
	color: #2b2b2b;
	font-size: 20px;
}


--------/*Mediaquery for navbar*/-------------

@media screen and (min-width: 768px)
{

}


--------/*Mediaquery for home page*/----------

@media screen and (min-width: 768px)
{
	.banner{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner h2{
	font-size: 1.5em;
	color: black;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 2px;
}

.banner h3{
	font-size: 1em;
	color: black;
	font-weight: 500;
}

.btn{
	position: relative;
	background: /*#2196f3*/ black;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}
} 
@media screen and (min-width: 480px) and (max-width: 767px)
{
	.banner{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner h2{
	font-size: 1.5em;
	color: black;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 2px;
}

.banner h3{
	font-size: 1em;
	color: black;
	font-weight: 500;
}

.btn{
	position: relative;
	background: /*#2196f3*/ black;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}
} 

@media screen and (max-width: 480px)
{
	.banner{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner h2{
	font-size: 1em;
	color: black;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0.5px;
}

.banner h3{
	font-size: 0.8em;
	color: black;
	font-weight: 500;
}

.btn{
	position: relative;
	background: /*#2196f3*/ black;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	padding: 8px 28px;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 500;
}
} 